<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cardapio</title>
    <style>
        body{
            background-color: aquamarine;
            align-items: center;
            text-align: center;
        }
    </style>

</head>
<body>
    <h1>CARDAPIO</h1>
    <div>
        
       <button> <a href="/pizza">PIZZA</a> </button> 

       <button> <a href="/hamburguer">HAMBURGUER</a> </button>
    </div>
    
</body>
</html>