<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Burguer</title>
    <style>
        img{
            width: 250px;
            height: 250px;
        }
        body{
            text-align: center;
            background-color: aquamarine;
        }
    </style>
</head>
<body>
    <h1>HAMBURGUER</h1>
        <div>
            X-burger
             </div>
        <div> <img src="/static/xburguer.webp" alt="">
            </div>
</body>
</html>