<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza</title>
    <style>
        img{
            height: 250px;
            width: 250px;
        }
        body{
            text-align: center;
            background-color: aquamarine;
        }


    </style>
</head>
<body>
    <h1>PIZZA</h1>
    <div>
        Pizza Familia 12 pedaços
        </div>
    <div>
        <img src="/static/pizzaFamilia.jpeg" alt="">
        </div>
    <div>
        Pizza Grande 8 pedaços
         </div>
    <div>
        <img src="/static/pizzaGrande.webp" alt="">
        </div>
</body>
</html>